@use '../../styles/variables' as vars;

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: vars.$background-color-top;
    color: #eee7e7;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(80, 5, 80, 0.521);
}

.menuIcon,
.searchIcon,
.arrow {
    color: rgb(255, 195, 255);
    cursor: pointer;
}

.messenger {
    font-weight: 500;
    font-size: 28px;
    font-family: "Montserrat";
}

.chatAvatar {
    width: 55px;
    height: 55px;
    border-radius: vars.$round-radius;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid vars.$border-line-color;
    box-shadow: 1px 2px vars.$background-color-top;
}
