.chat-place {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: blueviolet;
}

.chat-name {
    font-weight: bold;
}

.chat-time {
    color: gray;
}
