$text-names: rgb(114, 27, 138);
$border-line-color: rgb(102, 9, 114);
$round-radius: 50%;
$background-color-top: #8921b6;
$background-color-top-light: #9f25d3;
$background-color-fill-light: rgb(217, 198, 247);
$chat-border: #a159bd;
$icons-color: #7b1fa2;