@use '../../styles/variables' as vars;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: vars.$background-color-fill-light;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalTitle {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.closeButton {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  color: #333;
}


.confirmButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  color: #333;
}


.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
}