.constent {
  height: 100%;
}


.menuIcon,
.searchIcon,
.arrow {
  color: rgb(255, 195, 255);
  cursor: pointer;
}

.messenger {
  font-weight: 500;
  font-size: 28px;
  font-family: "Montserrat";
}

